<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <%-include('partials/header') %>

    <div class="container">

        <div class="card mb-5 mt-3">
            <div class="card-content">
                <h3 class="title">Selamat Datang [User]</h3>
                <p>Di Aplikasi Sistem Informasi Geografis untuk pemetaan fasilitas pendidikan di Kecamatan Kota Kupang</p>
            </div>
        </div>

        
        <!-- Menu -->
        <div class="column is-half">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-start">
                    <a class="navbar-item" href="#">
                        Data Ikhtisar
                    </a>
                    <a class="navbar-item" href="#">
                        Menu Website
                    </a>
                </div>
            </nav>
        </div>


        <div class="card">
            <div class="card-content">

            </div>

        </div>

    </div>
    
</body>
</html>
